*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    overflow-x: hidden;
}
body::after{
    background-image: url(‪C:/Users/USER/Desktop/web_dev/landingpage/bg-pattern-intro-left-desktop.svg);
    content: '';
    position: absolute;
    background-position: 0% 30%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
h1, h2, h3{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}
h1{
    font-size: 5rem;
    line-height: 1;
    padding: 50px 0;
}
h2{
    font-size: 3rem;
    padding: 40px 0;
}
h3{
    font-size: 1.5rem;
    padding: 20px 0;
}
h4{
    padding: 30px 0;
    color: hsl(273, 4%, 51%);
    text-transform: uppercase;
}
p{
    line-height: 1.5;
}
a{
   text-decoration: none;
   text-transform: uppercase;
   color: inherit;
   font-weight: 700; 
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 87vw;
    background-color: #fff;
    height: 70px;
    padding: 0 7vw;
    /* z-index: 2; */
}
.navlinks{
    color: hsl(273, 4%, 51%);
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    left: 0;
    transform: translateX(60%);
}
.navlinks li{
    display: inline-block;
}
.mobile{
    background-color: transparent;
    display: none;
    border: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 7vw;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    margin-bottom: 250px;
}
.header::after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -100px;
    background: url(C:\Users\USER\Desktop\web_dev\landingpage\bg-pattern-intro-right-desktop.svg);
    background-position: top right;
}
.header_note, .header_image{
    max-width: 60%;
}
.header_note hr{
    color: azure;
    width: 30%;
}
.header_note p{
    width: 58%;
}
.headerImage{
    margin-top: -40px;
    transform: translateY(25%);
}
.view{
    position: relative;
    background-color: transparent;
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    border: 1px solid hsl(0, 0%, 98%);
    padding: 10px 20px;
}
.different_div{
    padding: 0 7vw;
}
.different_div hr{
    width: 14%;
}
.different_div h2{
    font-size: 4rem;
    font-weight: 600;
}
.headed{
    width: calc(95% / 3);
}
.headed p{
    color: hsl(273, 4%, 51%);
}

.findout_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    padding: 0 7vw;
    width: 85%;
    margin: 100px auto;
}
.findout_div::after{
    content: '';
    position: absolute;
    background-image: url(C:\Users\USER\Desktop\web_dev\landingpage\bg-pattern-how-we-work-desktop.svg);
    background-position: center right;
}
.findout_div h2{
    width: 44%;
    line-height: 1;
}
.footer{
    background-color: hsl(0, 0%, 98%);
    position: relative;
    padding: 30px 7vw;
}
.footer::after{
    content: '';
    position: absolute;
    background-image: url(C:\Users\USER\Desktop\web_dev\landingpage\bg-pattern-footer-desktop.svg);
    background-position: top left;
}
.insure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    color: hsl(273, 4%, 51%);
    font-size: 140%;
}
.different_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.resource{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 5%;
}
.resource li{
    padding-bottom: 20px;
}
.resource li:hover{
    text-decoration: underline;
}
.resource a{
    font-weight: 500;
}
@media screen and (max-width: 800px){
   h1{
       font-size: 2.5rem;
   } 
   h2{
       font-size: 1.5rem;
   }
   .headerImage{
       width: 350px;
       height: 700px;
   }
}
@media screen and (max-width: 700px){
    body::after{
        background-image: url(C:\Users\USER\Desktop\web_dev\landingpage\assets\images\bg-pattern-intro-right-mobile.svg);
        background-position: 100% 35%;
    }
    /* .mobile{
        display: block;
    } */
}

